/* BODY */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
html
{
    font-size: 62.5% !important;
}

body
{
    font-size: 1.5rem !important;
    font-family: "Fira Code", monospace !important;
    min-width: 320px !important;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* NAVBAR */
.navbar-brand
{
    font-size: 2.5rem !important;
}

.nav-item
{
    margin-right: 2rem !important;
}

.dropdown-item
{
    font-size: 2rem !important;;
}

.navbar-my{
    background-color: cornflowerblue !important;
    color: whitesmoke !important;
    font-size: 2rem !important;
}

.nav-link{
    color: whitesmoke !important;
}

.nav-link:hover{
    color: black !important;
}

.wrapper
{
    max-width: 2000px !important;

}

.footer
{
    background-color: #323234;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 10%;
}

.footer__block
{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    align-self: center;
}

@media (max-width: 1000px)
{
    .footer__block
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 500px)
{
    .footer__block
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.footer__link
{
    color: rgb(137, 140, 142);
    text-decoration: none;
    margin-left: 3rem;
}

.footer__link:hover
{
    color: white;
}

.footer__p
{
    margin: 0;
    margin-top: 4rem;
    width: 100%;
    text-align: center;
    color: rgb(137, 140, 142);
}

/* MAIN INDEX.HTML*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.main-block-git
{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-block-git__link
{
    background-color: rgb(41, 172, 41);
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.main-block-git__link:hover
{
    background-color: green;
    color: white;
}

/* CAROUSEL INDEX.HTML */

.carousel-my{
    width: 100%;
    background-image: url(image/carousel.png);
    background-size: 100%;
}

.item-carousel-my{
    width: 100%;
    height: 400px;
    background-color: rgba(13, 22, 27, 0.748);
    display: grid !important;
    align-items: center;
    justify-items: center;
}

.item-carousel-my___p
{
    width: 70%;
    color: white;
    font-size: 2rem;
}

/* LINK UP INDEX.HTML */
.main_link-end {
  display: flex;
  width: auto;
  justify-content: center;
}
.main_link-end_up {
  width: auto;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #4e68b8;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
.main_link-end_up:hover {
  background-color: #b84e4e;
  color: white;
}
/* MEDIA INDEX.HTML*/
@media (max-width: 1200px) {
    .carousel-my{
        background-size: 100% 450px;
    }
    .item-carousel-my{
        height: 450px;
    }
}

@media (max-width: 1000px) {
    .carousel-my{
        background-size: 100% 550px;
        background-image: url(image/carousel2.png);
    }
    .item-carousel-my{
        height: 550px;
    }
}

@media (max-width: 800px) {
    body
    {
    font-size: 1rem !important;
    }   
    .carousel-my{
        background-size: 100% 350px;
        background-image: url(image/carousel.png);
    }
    .item-carousel-my{
        height: 350px;
    }
    .item-carousel-my___p{
        font-size: 1rem !important;
    }
    .dropdown-item
    {
        font-size: 1.5rem !important;
    }
    .navbar-my
    {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 550px) {
    .carousel-my{
        background-size: 100% 350px;
        background-image: url(image/carousel2.png);
    }
    .item-carousel-my{
        height: 350px;
    }
    .item-carousel-my___p{
        font-size: 1rem !important;
    }
}

@media (max-width: 400px) {
    .carousel-my{
        background-size: 100% 350px;
        background-image: url(image/carousel3.png);
    }
    .item-carousel-my{
        height: 350px;
    }
    .item-carousel-my___p{
        font-size: 1rem !important;
    }
}

.main__block-index
{
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.main__block-video
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

.video-block__video
{
    justify-self: center;
    width: 70%;
}

@media (max-width:800px)
{
    .video-block__video
    {
        width: 100%;
    }
}

/* ----------------------------------TEAM.HTML----------------------------------------- */
.h2
{
    margin-top: 1rem;
    font-size: 3rem;
    border-bottom: 0.4rem black solid;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.ol_p-head {
    text-align: left;
    text-indent: 2em;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.h3
{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.accordion
{
    width: 100% !important;
    font-size: 1.5rem !important;
}

.accordion-btn-text
{
    font-size: 1.5rem !important;
}

.table-people {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: #c5e1fa;
  }

.table-people__th
{
    background-color: rgb(65, 163, 233);
}


tr:hover {
    background-color: white;
  }

.table-people__th:hover
{
    background-color: rgb(65, 163, 233);
}

td, th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: 2px solid black;
  }
  
.td-fi {
    text-align: start;
    padding-left: 3%;
  }  


/* -------------------------------TZ.HTML------------------------------------------------------  */
.main__info-block
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
}

.task_main_link-file {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
    min-width: 160px;
    background-color: #75ca75;
    transition: 0.5s;
    border: solid 3px #254e25;
    color: black;
    font-weight: bold;
    outline: none;
    font-size: 1em;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 2.5rem;
  }
  .task_main_link-file:hover {
    background-color: #ca7575;
    color: black;
  }
  .task_main_link-file:active {
    outline: none;
  }
  .task_main_link-file:focus {
    outline: none;
    background-color: white;
  }
  .task_main_link-file_img {
    width: 50px;
  }

/* -------------------------------gipoteza.HTML------------------------------------------------------  */

.main__block-gip
{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-gip__block
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    background-color: rgb(218, 215, 215);
    padding: 1rem;
}

.block-gip__block__link
{
    text-decoration: none;
}

.block-gip__block__link:hover
{
    color: black;
}



.block-gip__text
{
    text-indent: 4rem;
    align-self: flex-start;
}

.block-gip__h5
{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* FUNCTION.HTML */

.image-func
{
    width: 100%;
    max-width: 70rem;
}

/* STEPS.HTML */

.block-gip__block-file
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media (max-width:500px)
{
    .block-gip__block-file
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}